body{
    background-image: url("../images/bgc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    align-items: center;
    margin: 0;
}
.clock{
    background-color: rgba(4,4,4,0.5);
    border:10px solid #155855;
    border-radius: 25%;
    background: url("../images/clock.jpg") no-repeat;
    background-size: cover;
    width:400px;
    height:300px;
    margin:50px auto;
    position: relative;
}
.hand{  
    background-color: #fff;
    position: absolute;
    transform-origin:100%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1,2.2,0.58,1);
    transform:rotate(90deg);
    border-radius: 50%;
}
$point:".hour",".min",".second";
$width:(
    ".hour":('w':24%,'l':26%,'h':8,'bgc':#f75305),
    ".min":('w':30%,'l':20%,'h':7,'bgc': #05f385),
    ".second":('w':33%,'l':17%,'h':5,'bgc': blue)
);
%t{
    top:50%;
}
@for $i from 1 through 3{
    $p:nth($point,$i);
    #{$p}-hand{
        width:map-get(map-get($width,$p),'w');
        left:map-get(map-get($map: $width, $key:$p ),'l');
        height:map-get(map-get($map: $width, $key: $p),'h')+px;
        background-color: map-get(map-get($width,$p),'bgc');
        @extend %t;
    }
}
.dot{
    width:4%;
    height:5%;
    position: absolute;
    left:48%;
    top:49%;
    background-color: #f17cd2;
    border-radius: 50%;
}