$width:100px;
$height:100px;
$border:3px solid #000;
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background:url("../images/bgc.jpg");
}
.key{
    border: .4rem solid #fb08f2;
    border-radius: .5rem;
    margin: .5rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: #e0dada;
    background: rgba(0,0,0,0.7);
    text-shadow: 0 0 0.5rem #07f5c9;
}
.player{
    transform:scale(1,1);
    border-color: #ffc800;
    box-shadow: 0 0 10px #fb08f2;
}
.sound{
    text-transform: uppercase;
    color: #ffc800;
    font-size: .1rem;
    letter-spacing: .1rem;
}
kbd{
    display: block;
}