body {display: flex;
    flex-wrap:wrap;
    width:400px;
  
  }
  ul,li {
    margin: 0;
    padding: 0;
    list-style: none; 
  }
  .container {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 10px;
    background: #333;
    border-radius: 10px;
  }
  
  .container li {
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50px;
  }
  
  .tmp-style:first-child {
    justify-content:flex-start;
  }
  .tmp-style:nth-child(2){
    justify-content:center; 
  }
  .tmp-style:nth-child(3){
    justify-content:flex-end; 
  }
  .tmp-style:nth-child(4){
    flex-direction:column;
    justify-content:center;
  }
  .tmp-style:nth-child(5){
    align-items:center;
    justify-content:center;
  }
  .tmp-style:nth-child(6){
    justify-content:flex-end;
    align-items:center;
  }
  .tmp-style:nth-child(7){
    justify-content:flex-start;
    align-items:flex-end;
  }
  .tmp-style:nth-child(8){
    justify-content:center;
    align-items:flex-end;
  }
  .tmp-style:nth-child(9){
    justify-content:flex-end;
    align-items:flex-end;
  }
  .tmp-style:nth-child(10) li:nth-child(2){
    align-self:center; 
  }
  .tmp-style:nth-child(11) {
    flex-direction:column;
    align-items:center;
    
  }
  .tmp-style:nth-child(11) li:first-child{
    margin-bottom:5px;
  }
  
  
  .tmp-style:nth-child(12){
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-end;
  }
  .tmp-style:nth-child(12) li:nth-child(2){
    align-self:flex-start;
  }
  .tmp-style:nth-child(13){
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
  }
  .tmp-style:nth-child(14){
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
  }
  .tmp-style:nth-child(15){
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-end;
  }
  .tmp-style:nth-child(16){
    flex-direction:column;
    justify-content:flex-end;
  }
  .tmp-style:nth-child(16) li:nth-child(1){
    align-self:center;
  }
  .tmp-style:nth-child(17){
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
  }
  .tmp-style:nth-child(17) li:first-child{
    margin-bottom:5px;
  }
  .tmp-style:nth-child(18){
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-end;
  }
  .tmp-style:nth-child(18) li:first-child{
    align-self:flex-start;
  }
  .tmp-style:nth-child(19){
    justify-content:space-between;
  }
  .tmp-style:nth-child(19) li:nth-child(2){
    align-self:center;
  }
  .tmp-style:nth-child(19) li:nth-child(3){
    align-self:flex-end;
  }
  .tmp-style:nth-child(20){
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    align-content:space-between;
  }
  .tmp-style:nth-child(20) div{
    display:flex;
    background-color: #333;
    flex-basis:100%;
    margin:0;
    padding:0;
    border-radius:10px;
    justify-content:space-between;
  }
  .tmp-style:nth-child(21){
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:space-between;
  }
  .tmp-style:nth-child(21) div{
    display:flex;
    flex-basis:100%;
    border-radius:10px;
    justify-content:space-between;
    background-color: #333;
    margin:0;
    padding:0;
  }
  .tmp-style:nth-child(21) div:nth-child(2){
    justify-content:center;
  }
  .tmp-style:nth-child(21) li:nth-child(2){
    align-self:center;
  }
  .tmp-style:nth-child(22){
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:space-between;
  }